.cart-page {
  min-height: 110vh;
  background-color: #414758 !important;
  display: grid;
  place-content: center;
  &__content {
    height: calc(100vh - 100px);
    padding: 17.5px 21.5px 17.5px 33px;
    width: 100vw;
    display: grid;
    column-gap: 1rem;
    grid-template: "cart-page__content__cart" "cart-page__content__two";
    grid-template-columns: 2fr 1fr;
    &__cart {
      color: black;
      height: calc(100% - 80px);
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: 20px;
      &__item {
        padding: 10px;
        border-radius: 3px;
        display: flex;
        background-color: white;
        align-items: center;
        justify-content: space-between;
        & > div {
          display: flex;
          align-items: center;
          gap: 20px;
        }
        &__image {
          width: 100px;
        }
      }
    }
    &__summary,
    &__actions {
      display: grid;
      place-content: center;
      color: black;
      background-color: white;
      border-radius: 3px;
    }
    &__actions {
      & button {
        border-radius: 8px;
        padding: 7px 30px;
        transition: box-shadow 80ms;
        color: white;
      }
    }
    &__two {
      display: grid;
      grid-gap: 1rem;
      grid-template: "cart-page__content__summary" "cart-page__content__actions";
      grid-template-rows: 100px 100px;
    }
  }
}
